keybinds {
    shared_except "locked" {
        bind "Alt q" { CloseFocus ; }
        bind "Alt f" {
            LaunchOrFocusPlugin "zellij:strider" { 
                floating true                    
            };
        }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
}


ui {
    pane_frames {
        rounded_corners true
    }
}

theme "catppuccin-mocha"

scrollback_editor "/usr/bin/hx"

pane_frames false

default_layout "compact"

copy_command "wl-copy"
