@import url("../../.cache/wal/colors-waybar.css");
* {
    font-size: 14pt;  
}
/*
@define-color color0 #6a9589;
@define-color color1 #938aa9;
@define-color color2 #98bb6c;
@define-color color3 #e6c384;
@define-color color4 #859289;
*/
@define-color brd #54546d;
/*
@define-color foreground #dcd7ba;
@define-color background #16161d;
*/
@define-color bgh #1e1f28;

/* main window */
window#waybar {
    font-family: Cascadia Code;
    background: transparent;
}

/* global modules style */
#cpu,
#memory,
#custom-mako,
#tray,
#window,
#workspaces,
#clock,
#language,
#pulseaudio,
#bluetooth,
#network,
#custom-power {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 2px;
    background-color: @background;
}

/* tooltip */
tooltip * {
    font-family: Inter;
    font-weight: 500;
}

tooltip {
    background-color: @background;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: @brd;
}

tooltip label {
    color: @foreground;
}

/* window */
#window {
    font-family: Inter;
    margin-left: 5px;
    border-radius: 5px;
    border-color: @brd;
}

window#waybar.empty #window {
    background: none;
    border: none;
}

/* workspaces */
#workspaces {
    border-radius: 5px;
    border-color: @brd;
    padding-left: 0px;
    padding-right: 0px;
}

#workspaces button {
    color: @color3;
    background-color: @background;
    border-radius: 2px;
    box-shadow: none;
    transition: none;
}

#workspaces button.active {
    color: @color2;
}

#workspaces button:hover {
    background-color: @bgh;
    box-shadow: inset 0 0 0 100px rgba(230, 195, 132, 0.06);
}

#workspaces button.active:hover {
    box-shadow: inset 0 0 0 100px rgba(152, 187, 108, 0.06);
}

/* tray */
#tray {
    margin-left: 5px;
    border-radius: 5px;
    border-color: @brd;
}

#tray menu * {
    font-family: Inter;
    font-weight: 500;
}

#tray menu {
    background-color: @background;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: @brd;
}

#tray menu menuitem {
    border-radius: 5px;
    color: @foreground;
    box-shadow: none;
    transition: none;
}

#tray menu menuitem:hover {
    background-color: @bgh;
    box-shadow: inset 0 0 0 100px rgba(147, 138, 169, 0.15);
}

/* modules exclude window, workspaces, tray*/
#cpu {
    margin-left: 10px;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    border-color: @brd;
    color: @color2;
}

#memory {
    border-right: none;
    border-left: none;
    border-radius: 0px;
    border-color: @brd;
    color: @color2;
}

#custom-mako {
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    border-color: @brd;
}

#custom-spacer {
    margin-top: 10px;
    margin-bottom: 0px;
    border-width: 2px;
    border-right: none;
    border-left: none;
    border-color: @brd;
    border-radius: 0px;
    border-style: solid;
    background-color: @background;
    padding-left: 0px;
    padding-right: 0px;
    color: @color1;
    font-size: 16pt;
    font-weight: bold;
}

#clock {
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    border-color: @brd;
    color: @color2;
}

#language {
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-color: @brd;
    color: @color2;
}

#pulseaudio.source {
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-color: @brd;
    color: @color2;
}

#pulseaudio {
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-color: @brd;
    color: @color2;
}

#bluetooth {
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-color: @brd;
    color: @color2;
}

#network {
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    border-color: @brd;
    color: @color2;
}

#custom-power {
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border-color: @brd;
    padding-left: 11px;
    padding-right: 11px;
}
