@import "colors.css";

window.bar {
    font-family: Cascadia Code;
    font-size: 14pt;
    background: transparent;
    color: @foreground;
}

/* general */
.workspaces,
.title,
.monitoring,
.tray,
.system {
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: @border;
    background-color: @background;
}

/* box-button padding */
.workspaces,
.tray, 
.system {
    padding: 2px;
}

/* workspaces */
.workspaces button {
    background-color: @background;
    border-radius: 10px;
    margin: 2px;
    color: @color3;
}

.workspaces button.focused {
    background-color: @color5;
    color: @background;
}

/* tray */
.tray button {
    padding-left: 8px;
    padding-right: 8px;
    background-color: @background;
    border-radius: 10px;
    margin: 2px;
}

menu {
    border-radius: 15px;
    border-color: @color8;
    border-style: solid;
    border-width: 1px;
    background-color: @background;
    padding: 5px;
}

menuitem {
    font-family: Inter;
    border-radius: 10px;
}

/* title (taskbar) */
.title {
    padding-left: 10px;
    padding-right: 10px;
    color: @color2;
    font-family: Inter;
    font-weight: 500;
}

/* system (language, audio, power etc) */
.system button {
    font-size: 12pt;
    color: @color5;
    background-color: @background;
    border-radius: 10px;
    margin: 2px;
}

.system button.power {
    color: @color1;
}

.system .clock {
    padding-left: 10px;
    padding-right: 10px;
    color: @color2;
}

.system .language {
    padding-left: 10px;
    padding-right: 10px;
    color: @color1;
}

.system .battery label,
.system .speaker label, 
.system .microphone label {
    margin-right: 10px;
    color: @color2;
}

.system .battery image {
    padding-left: 7px;
    padding-right: 7px;
    color: @color5;
}

/* monitoring */
.monitoring {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.monitoring .monitoring-progress {
    color: @color1;
    margin-left: 8px;
}

.monitoring .monitoring-label {
    color: @color3;
}

levelbar block,
highlight {
    min-height: 10px;
}
