@import "colors.css";

window.notification-popups,
.notifications {
    background: transparent;
}

.notification-low,
.notification-normal,
.notification-critical {
    background-color: @background;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    min-width: 300px;
}

.notification-low,
.notification-normal {
    border-color: @color2;
}

.notification-critical {
    border-color: @color1;
}

.notification-icon {
    min-width: 70px;
    min-height: 70px;
    border-radius: 15px;
}

.notification-icon image {
    font-size: 60px;
    margin: 5px;
    color: @foreground;
}

.notification-title {
    color: @color5;
}

.notification-body {
    color: @foreground;
}
